@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 39, 39, 42;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --offwhite-rgb: 250, 249, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--offwhite-rgb));
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100%;
  height: 75vh;
  position: relative;
}

footer {
  margin-top: auto;
}

body > main {
  flex: auto;
}
